@import url('https://fonts.googleapis.com/css2?family=Giazi&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: none;
}

app-root {
  display: block;
  height: 100%; /* Ensure the root component spans the full viewport */
}
