/* moons.component.css */

/* General body font */

/* Container for the content */
.moons-container {
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
}

/* Importing AvenirNext font */
@import url('https://fonts.googleapis.com/css2?family=Avenir+Next:wght@400;600&display=swap');

/* Heading style */
.moons-container h2 {
  font-family: 'Avenir Next', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #262A41;
  margin-bottom: 20px;
}

/* Section title style */
.section-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* Regular weight */
  font-size: 16px;
  color: rgba(16, 16, 16, 0.5);
  margin-bottom: 15px;
}

/* Table style */
table {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #80808080;
}

/* Table header with black background */
table th {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #262A41;
  font-size: 16px;
  overflow: hidden;
}

/* Table row styles */
table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

table td {
  font-size: 14px;
  color: #333;
}

/* Action buttons (view, update, delete) */
button.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #808080;
  transition: color 0.3s ease;
  margin-right: 10px;
}

button.action-btn:hover {
  color: #333;
}

/* Icon styles */
button i {
  font-size: 18px;
}

/* Add Moon Section */
.add-moon-section {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.add-moon-section h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #262A41;
  margin-bottom: 15px;
}

.add-moon-form {
  display: flex;
  flex-direction: column;
}

.add-moon-form .form-group {
  margin-bottom: 15px;
}

.add-moon-form label {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #333;
}

.add-moon-form input,
.add-moon-form textarea,
.add-moon-form select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.add-moon-form textarea {
  resize: vertical;
}

.add-moon-btn {
  background-color: #ffffff;
  color: #101010;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add-moon-btn img {
  margin-right: 8px;
}

.add-moon-btn:hover {
  background-color: #365f9e;
}
